body {
  background-color: #1081f1;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #496989;
  width: 86%; /* Adjust the width according to your design */
  float: left;
  margin: 10px; /* Add margin between cards */
  padding: 10px;
  border-radius: 5px;
  display: flex; /* Make the card a flex container */
  flex-direction: column; /* Arrange children vertically */
  height: auto; /* Ensure the card takes up the full height */
  position: absolute;
  top: 18%;
  left: 5%;
}

.card img {
  width: 100%; /* Make the image fill the card horizontally */
  border-radius: 5px 5px 0 0; /* Apply border radius only to the top */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  background-color: #58a399;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%; /* Ensure the container takes up the full height */
}
