body {
  background: linear-gradient(to right, #8360c3, #2ebf91);
}

table {
  color: white;
  background: #136a8a;
  background: -webkit-linear-gradient(to right, #267871, #136a8a);
  background: linear-gradient(to right, #267871, #136a8a);
  margin: auto;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.3), 0px 30px 60px 1px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 50px;
  position: absolute;
  top: 30%;
  left: 30%;
  right: 30%;
  height: 40%;
}

h1 {
  position: absolute;
  top: 19%;
  left: 46.7%;
  font-family: Anta;
}

.submit {
  background: none;
  text-decoration: none;
  box-shadow: 0px 0px 0px 2px white;
  border-radius: 3px;
  padding: 3px 1em;
  transition: 0.5s;
  position: absolute;
  bottom: 10%;
  background-image: linear-gradient(to right, #3399ff, #99ff99);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 1000;
}

.reset {
  background: none;
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 0px 2px white;
  border-radius: 3px;
  padding: 3px 1em;
  transition: 0.5s;
  position: absolute;
  bottom: 10%;
  left: 58%;
  background-image: linear-gradient(to right, #3399ff, #99ff99);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 1000;
}
